@{
    Layout = "_Layout";
    string header=ViewBag.header==null?string.Empty:ViewBag.header;
   
}


<div class="card">
  <h2 class="card-header"> <i class="fa fa-sitemap"></i>  @ViewBag.systemName</h2>
  
  <div class="card-body">
      
                     <div class="container-fluid">
                      @RenderBody()
                  </div>
      <!-- <a asp-controller="System" asp-action="Index" class="btn float-right">Back</a> -->
      </div>
</div>