@{
    Layout = "_Layout";
    string header=ViewBag.header==null?string.Empty:ViewBag.header;
   
}


<div class="card bg-secondary">
  <div class="card-header">
     <div id="" class="row">
          <i id="" class="fa fa-user-cog text-primary fa-2x"></i> <h4>@header</h4>
      </div>
  </div>
  <div class="card-body">
                     <div class="container-fluid">
                      @RenderBody()
                  </div>
      
      </div>
</div>