@{
    Layout = "_Layout";

   
}


<div class="card bg-secondary">
  <div class="card-header">
     <div id="" class="row">
          <i id="" class="fa fa-user-cog text-primary fa-3x col-md-6"></i> <h4 class="col-md-5" >New User</h4>
      </div>
  </div>
  <div class="card-body">
                     <div class="container-fluid">
                      @RenderBody()
                  </div>
      
      </div>
</div>