@{
    Layout = "";
}

@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
     <!-- <link rel="stylesheet" href="~/css/materia/bootstrap.css" /> -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

 <div class="container-fluid">
           
<div class="login-page">
    <!-- <div class="page-header">
        <h1>Login</h1>
    </div> -->

    

    <div class="row">

      
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                    <div class="row">
                                <div class="col-sm-12 col-xs-12" >

                                        <div>

                                            <img id="bdoLogoWeFind" alt="BDO" src="/images/bdoLogo.png">&nbsp;
                                        
                                            <h3 class="float-right">
                                                <strong >CLG</strong>
                                                <small >Exchange <span ><strong>1.0.0</strong></span></small>
                                            </h3>
                                            <br>
                                            <span  class="pull-right"></span>
                                        </div>
                                        
                                </div>
                    </div>
                                <div class="alert alert-warning" >
                                    <strong >System Description: </strong>
                                    <p>A common request processing System for Consumer loans group.</p>

                                </div>
                                        <form asp-route="Login">
                                            <input type="hidden" asp-for="ReturnUrl" />

                                            <fieldset class="front-login">
                                                <div class="form-group row">
                                                    
                                                

                                                   <label class="col-md-2"  for="username"><i class="fas fa-user fa-5x float-right"></i><!--Username--></label>
                                                            <div class="col-md-10">
                                                                <!-- <input required name="username" autofocus id="username"  type="text" class="form-control" placeholder="Username" ng-model="model.username" maxlength="100"> -->
                                                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                                            </div>
                                                </div>
                                                <div class="form-group row">
                                            
                                                
                                                    <label class="col-sm-2 control-label" asp-for="Password" >
                                                                
                                                                <i class="fas fa-keyboard fa-4x float-right"></i>
                                                                <!--Password-->
                                                            </label>
                                                            <div class="col-md-10">
                                                                
                                                                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                                            </div>
                                                </div>
                                                <!-- @if (Model.AllowRememberLogin)
                                                {
                                                    <div class="form-group login-remember">
                                                        <label asp-for="RememberLogin">
                                                            <input asp-for="RememberLogin">
                                                            <strong>Remember My Login</strong>
                                                        </label>
                                                    </div>
                                                } -->

                                                <!-- <div>
                                                    <p>The default users are alice/bob, password: Pass123$</p>
                                                </div> -->
                                                <div class="form-group" >&nbsp;</div>
                                                <div class="form-group" >
                                                
                                                    <!-- <button class="btn btn-default" name="button" value="cancel">Cancel</button> -->
                                                    <div class="col-md-12">
                                                                <button class="btn float-right" name="button" value="login">Login</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                </div>

                                 <div class="panel-footer">

                                <p >
                                    <small >Only authorized employees may use this system. It is an offense to log on to the system if you are unauthorized or to use it for illicit purposes. Access to this system is being monitored.</small>
                                </p>
                                 
                             </div>
                </div>
            </div>
             

                               

          <div class="col-md-4">
        <section id="socialLoginForm">
            <img id="bdoLogo" src="~/images/bdoLogo.png" alt="BDO">
            <h4>BDO LDAP as Authentication Service</h4>
            <hr />
            <div>
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                   
                </p>
                
            </div>
            <h1>@Model.ClientName</h1>

            
                        <!-- {{model.errorMessage}} -->
                        @Html.Partial("_ValidationSummary")

                     <p>Powered By:
                                        <h3>
                                        <img   src="~/icon.jpg">
                                        Identity Server 4
                                        @*<small>(build {version})</small>*@
                                    </h3>
                                </p>
                  
        </section>
    </div>                      
        
        </div>
</div>

    </div>

</body>
</html>