
@{

    List<IdentityServer4.EntityFramework.Entities.Client> clients=ViewBag.clients;
}
@model IdentityServer4.EntityFramework.Entities.Client
<h1>Systems</h1>

<table id="" class="table">
    <thead>
        <tr>
            <th>System</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        

        @foreach (var item in clients)
        {
            <tr>
                <td>@item.ClientName</td>
                <td>
                    <a asp-action="Modules" asp-route-clientId="@item.Id" class="btn btn-sm"> <i class="fa fa-sitemap fa-2x"></i></a>

                    <a asp-action="Modules" asp-route-clientId="@item.Id"  class="btn btn-sm"> <i class="fa fa-trash fa-2x"></i></a>

                </td>
                
            </tr>
            
        }
    </tbody>
</table>
