
@{

    List<IdentityServer4.EntityFramework.Entities.Client> clients=ViewBag.clients;
}
@model IdentityServer4.EntityFramework.Entities.Client

 <legend><h1><i id="" class="fa fa-sitemap text-primary"></i> Systems</h1>  </legend>
<a asp-action="RegisterSystem" class="btn btn-warning btn-sm"> <i id="" class="fa fa-edit fa-2x"></i> Register System</a>
<table id="" class="table">
    <thead>
        <tr>
            <th>System</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        

        @foreach (var item in clients)
        {
            <tr>
                <td>@item.ClientName</td>
                <td>
                    <a asp-action="UpdateDetails" asp-route-clientId="@item.Id" > <i class="fa fa-sitemap"></i></a>
                    |
                    <a asp-action="UpdateDetails" asp-route-clientId="@item.Id"  > <i class="fa fa-trash"></i></a>

                </td>
                
            </tr>
            
        }
    </tbody>
</table>
