@model CLGE_CORE.Models.SystemViewModel

@{
    ViewData["Title"] = "RegisterSystem";
}




<div class="row">
    <div class="col-md-6">
 <form asp-action="RegisterSystem">
<div class="card  bg-secondary mb-3">
  
  <div class="card-body">
            <legend>
            <h1><i class="fas fa-desktop text-warning"></i> Register System</h1>
        </legend>
        
    
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SystemName" class="control-label">System Name</label>
                <input asp-for="SystemName" class="form-control" />
                <span asp-validation-for="SystemName" class="text-danger"></span>
            </div>
            <!-- <div class="form-group">
                <label asp-for="SystemId" class="control-label"></label>
                <input asp-for="SystemId" class="form-control" />
                <span asp-validation-for="SystemId" class="text-danger"></span>
            </div> -->
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientUri" class="control-label">Client Uri</label>
                <input asp-for="ClientUri" class="form-control" />
                <span asp-validation-for="ClientUri" class="text-danger"></span>
            </div>
          
        
    </div>
     <div class="card-footer text-muted">
              <div class="form-group">
                   <a asp-action="Index" class="btn">Back to List</a>
                <input type="submit" value="Submit" class="btn btn-primary" />
               

                 <div class="form-check float-right">
                                <label class="form-check-label text-primary"  for="Configure">
                                <input class="form-check-input" asp-for="Configure" type="checkbox">
                                <i class="fa fa-cogs fa-2x"></i>
                                Configure System
                                
                                </label>
                            </div>
            </div>
            
     </div>
</div>
</form>
  </div>
</div>


