

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  
  <div class="card-body">
            <legend>
            <h1><i class="fas fa-desktop"></i> Register System</h1>
        </legend>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>