@{
    Layout = "_SystemTabedLayout";
   int clientId = ViewBag.ClientId;
}
@model IdsServer.Models.ApplicationRole
<h2>Create Role</h2>
<div id="" class="row">
    <div id="" class="col-md-4">
        

            <form asp-action="Create" method="post" asp-route-ClientId="@ViewBag.ClientId">
                
                <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <!-- <strong>Oh snap!</strong> -->
                <i class="fa fa-exclamation-triangle"></i>
                </div>
                 
                <fieldset class="fieldset">
                 
            <!-- <input type="hidden" name="ClientId" value="@ViewBag.ClientId"> -->
            
            <div id="" class="form-group">
                            <label for="UserName">Role Name</label>
                            <input type="text" asp-for="Name" class="form-control">
                        
            </div>
             <div id="" class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" asp-for="Description" class="form-control">
                        
            </div>

            <div id="" class="row">
                <div class="col-md-6">
                    
                        <a asp-action="Index" class="btn btn-default " asp-route-clientId="@clientId">Cancel</a>
                         <button type="submit" class="btn btn-primary ">Submit</button>
               
                 
                </div>
                <div class=" col-md-6 form-check pull-right">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            Add Another Role
                            </label>
            </div>

            
                </fieldset>
                
            </form>


  
    </div>
</div>
