@{
    Layout = "_SystemTabedLayout";
   int clientId = ViewBag.ClientId;
}
@model IdsServer.Models.ApplicationRole

<div id="" class="row">
    <div id="" class="col-md-4">
        

            <form asp-action="Edit" method="post" asp-route-ClientId="@ViewBag.ClientId">
                <fieldset>
                    <legend>Update Role</legend>
            <input type="hidden" asp-for="Id">
             <input type="hidden" asp-for="Client">
               <input type="hidden" asp-for="ConcurrencyStamp">
                <input type="hidden" asp-for="NormalizedName">
            
            <div id="" class="form-group">
                            <label for="UserName">Role Name</label>
                            <input type="text" asp-for="Name" class="form-control">
                        
            </div>

            <div id="" class="row">
                <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-default " asp-route-clientId="@clientId">Cancel</a>
                <button type="submit" class="btn btn-primary ">Submit</button>
                 
                </div>
                <div class=" col-md-6 form-check pull-right">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked="">
                            Add Another Role
                            </label>
            </div>

            
                </fieldset>
            </form>


  
    </div>
</div>
